<h1>
  {{title}}
</h1>

<h2>
  Demo,
</h2>
<p>This textbox's content should survive until the end of times.</p>
<textarea placeholder="{{hint}}"
          auto-save [(asdata)]="textData"
          (reloadData)="setText($event)"
          askey="unique127"
          [(ngModel)]="textData"></textarea>

<p>
  <select auto-save
          [(asdata)]="selectedColor"
          askey="unique128"
          (reloadData)="setColor($event)"
          [(ngModel)]="selectedColor">
    <option *ngFor="let color of colors" [ngValue]="color.name">{{color.name}}</option>
  </select>
</p>

